* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.about1-container {
  position: relative;
}

.about-us-video {
  width: 100%;
  height: auto;
  z-index: -1;
}

.about1-title {
  position: absolute;
  bottom: 18%; /* Adjust this value to place the title where you want it vertically */
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: #7e506c;
  font-size: 4em;
}

.about1_text {
  position: absolute;
  bottom: 8%; /* Adjust this value to place the title where you want it vertically */
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: black;
  font-size: 0.9em;
}
