* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.About2_container {
  background-color: #e6e6fa;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.about2_contImg {
  display: flex;
  justify-content: center;
}

.about2Img_container {
  position: relative;
  width: 20%; /* Set the width you desire */
  height: auto; /* Maintain aspect ratio */
  margin-top: 5%;
}

.about2_bottom {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.icon_cell {
  position: relative;
  background-color: #a48aa8; /* Circular background color */
  border-radius: 50%; /* Makes it circular */
  padding: 20px; /* Padding around the image */
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  left: 35%;
}

.about2_icon {
  position: absolute; /* Set to absolute */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  width: 50px; /* Set the width you desire */
  height: 50px; /* Set the height you desire */
  margin: 0 auto; /* Center the image horizontally */
}

.about2_bottomTitle {
  font-size: 1.5em;
  color: #7e506c;
  text-align: center;
  margin-top: 10px;
}
