* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.disc1 {
  background-color: #E6E6FA;
  height: 100vh;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 53% 43%;
  overflow: hidden;
}


.disc1-image-bg {
  /* Previous styles if any */
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2; /* This ensures the image stays above the semicircle */
}

.disc1-image-lg {
  /* Previous styles if any */
  left: 16%;
  margin-top: 15rem;
  position: relative;
  z-index: 3; /* To ensure the actual image stays on top of its background */
}

.disc1-image-lg img {
  border-radius: 15px; /* Change this value based on your desired border curve */
  height: 16rem;
}


.heading_disc1 {
  padding-top: 8%; /* This will push the heading down from the top */
  font-size: 3.2rem;
  font-weight: 500;
  text-align: left;
  margin-top: 17%;
  margin-left: 7%;
}

.heading_disc1 h1 {
  padding: 0;
  margin: 0;
}

.subheading_disc1 {
  margin-top: 3%;
  font-weight: 5000;
  font-size: 1.85rem;
  text-align: left;
  margin-left: 7%;
}

.disc_image{
  height: 410px;
  width: 410px;
  margin-left: 120%;
  margin-top: -52%;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  object-fit: cover;
}