
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.heading-second-home2{
    width: 580px;
}

.left-container-home2 {
    position: relative;
  }
  
  .img-container-home2 {
    position: relative;
    z-index: 2;
  }
  
  .img-container-home2 img {
    /* width: 100%; */
    /* height: auto; */
    position: relative;
    z-index: 2;
    height: 80%;
    border-radius: 1rem; /* adjust as needed */
  }
  
  .shadow-home2 {
    position: absolute;
    top: 12px;
    left: -12px;
    
    bottom: 0;
    z-index: -1;
    background-color: #B8A8C4; /* Shadow color and opacity */
    border-radius: 1rem; /* Same as image border-radius */
    object-fit: cover;    
}


  .circle-home2 {
    position: absolute;
    background-color: #b8a8c4;
    border-radius: 50%;
  }

  .circle1-home2{
    width: 500px;
    height: 500px;
    top: 53%;
    left: 79%;
   
  } 

  .circle2-home2{
    width: 300px;
    height: 300px;
    top: -4%;
    right: 86%;
  }

  .circle3-home2{
    width: 80px;
    height: 80px;
    top: 13%;
    right: 11%;
    
  }
  
  .second-main-home2{
    overflow: hidden;
  }
  
.img-container{
  height: 100px;
  width: 200px;
  margin-top: -30%;
}