.ml2_container {
  background-image: url(https://images.pexels.com/photos/62389/pexels-photo-62389.jpeg?auto=compress&cs=tinysrgb&w=1600);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.ml2_title {
  margin-top: 14%;
  color: #7e506c;
  font-size: 3em;
  z-index: -1;
}

.ml2_text {
  margin-top: 5%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: black;
  font-size: 1.5em;
}

.mem2Btn_area {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 15%;
  font-size: 1.25em;
}

.mem2_btn {
  width: 14%;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #e6e6fa;
  color: #7e506c;
}
